{% extends "base.html" %}

{% block title %}
Email Center
{% endblock %}

{% block content %}

<h1>Email Center</h1>

<div class="card">

{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="alert-success">

    {{ messages[0] }}

</div>

{% endif %}
{% endwith %}

<form
method="POST"
class="student-form"
>

<input
type="email"
name="email"
placeholder="Masukkan Email Tujuan"
required
>

<button
class="btn-primary"
type="submit"
>

Kirim OTP

</button>

</form>

</div>

{% endblock %}